html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	/* line-height: 1; */

	/* the adjustmets to body below are mine */

	height: 500px;
	font-size: 18px;
	padding: 20px;
	line-height: 1.5em;
	color: #080331;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */

* {
	box-sizing: border-box;
}

header {
	background-color: #34299b;
	padding: 10px;
	text-align: center;
	position: sticky;
	top: 0;
}

header span a {
	text-decoration: none;
	color: #e0dcfc;
	font-size: 1.5em;
}

header img {
	height: 50px;
}

nav {
	margin-bottom: 50px;
}

nav ul li {
	margin-top: 10px;
	display: inline-flex;
	list-style-type: none;
	justify-content: space-around;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

nav ul li a {
	text-decoration: none;
	color: #080331;
	text-align: center;
}

nav ul li a:hover {
	background-color: #080331;
	color: #e0dcfc;
	padding: 5px;
}

section {
	padding: 10px;
}

article {
	margin-bottom: 30px;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 5px;
}

footer {
	position: sticky;
	bottom: 0;
	width: 100%;
	margin-top: 50px;
	padding: 20px;
	background-color: #34299b;
	color: #e0dcfc;
	height: 150px;
	text-align: center;
}

footer div {
	padding-bottom: 10px;
}

footer div.bold {
	font-weight: bolder;
}

footer div.italic {
	font-style: italic;
}